.front-page{
    height: 130px;
    object-fit: cover;
    object-position: top;
}

.disposition9{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:flex-start;
}

.disposition10{
    display: flex;
    flex-direction: column;
    align-items: space-evenly;
    flex-grow: 5;
    justify-content: flex-start;
}