<div class="container-fluid bg-color">
    <div class="menu">
        <div class="bg-icon1" [matMenuTriggerFor]="menu"><mat-icon [inline]=true>menu</mat-icon></div>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="goTo('home')">
                <mat-icon>home</mat-icon>
                <span>Inicio</span>
            </button>
            <button mat-menu-item (click)="goTo('shopping-cart')">
                <mat-icon>shopping_cart</mat-icon>
                <span>Carrito</span>
            </button>
            <button mat-menu-item (click)="goTo('history-cient')">
                <mat-icon>playlist_add_check</mat-icon>
                <span>Historial</span>
            </button>
            <button mat-menu-item (click)="logOut()">
                <mat-icon>arrow_back_ios</mat-icon>
                <span>Salir</span>
            </button>
        </mat-menu>
    </div>

    <app-header></app-header>

    <div class="container py-5">
        <form class="row mt-2" #updateProfileForm= "ngForm" (ngSubmit)= "updateProfile()" [formGroup]="updateprofileForm">
            <div class="col-lg-3 col-md-4 col-sm-6">
                <app-input-text class="mb-2"
                [headerText]="'Nombre'" 
                [inputType]="'text'" 
                [control]="updateprofileForm.get('name')"></app-input-text>

                <app-input-text class="mb-2"
                [headerText]="'Apellidos'" 
                [inputType]="'text'" 
                [control]="updateprofileForm.get('lastname')"></app-input-text>

                <app-input-date class="mb-2"
                [headerText]="'Fecha de nacimiento'" 
                [control]="updateprofileForm.get('birthdate')"></app-input-date>

                <app-input-select class="mb-2"
                [headerText]="'Género'"
                [control]="updateprofileForm.get('gender')"
                [options]="genderOptions"></app-input-select>

            </div>

            <div class="col-lg-3 col-md-4 col-sm-6">
                <app-input-select class="mb-2"
                [headerText]="'país'"
                [control]="updateprofileForm.get('country')"
                [options]="countryOptions"></app-input-select>

                <app-input-select class="mb-2"
                [headerText]="'Estado/Dep'"
                [control]="updateprofileForm.get('state')"
                [options]="stateOptions"></app-input-select>

                <app-input-select class="mb-2"
                [headerText]="'ciudad'"
                [control]="updateprofileForm.get('city')"
                [options]="cityOptions"></app-input-select>

            </div>

            <div class="col-lg-3 col-md-4 col-sm-6">
                <app-input-text class="mb-2"
                [headerText]="'Usuario'" 
                [inputType]="'text'" 
                [control]="updateprofileForm.get('username')"></app-input-text>

                <app-input-text class="mb-2"
                [headerText]="'Contraseña actual'" 
                [inputType]="'password'" 
                [control]="updateprofileForm.get('oldPassword')"></app-input-text>

                <app-input-text class="mb-2"
                [headerText]="'Nueva contraseña'" 
                [inputType]="'password'" 
                [control]="updateprofileForm.get('password')"></app-input-text>

                <app-input-text class="mb-2"
                [headerText]="'Confirmar Contraseña'" 
                [inputType]="'password'" 
                [control]="updateprofileForm.get('confirmationPassword')"></app-input-text>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6">
                <app-input-text class="mb-2"
                [headerText]="'e-mail'" 
                [inputType]="'email'" 
                [control]="updateprofileForm.get('email')"></app-input-text>

                <app-input-select class="mb-2"
                [headerText]="'Temas de interes'"
                [control]="updateprofileForm.get('topic')"
                [options]="topicOptions"></app-input-select>
            </div>
            
            <div *ngIf="isFormError()" class="d-flex justify-content-center col-lg-12 col-md-12 col-sm-12 m-0 alert alert-danger" role="alert">
                <p *ngIf="signupForm.errors.noMatchingPassword">Las contraseñas no coinciden.</p>
            </div>
            
            <div class="d-flex flex-md-row justify-content-around col-lg-12 col-md-12 col-sm-12 m-0 disposition0">
                <button class="custom-large-btn" type="submit" [disabled]="updateprofileForm.invalid">Actualizar</button>
                <button class="btn-light custom-large-btn" type="button" (click)="goTo('home-client')">Cancelar</button>
            </div>
        
        </form>
    </div>
</div>

