<div class="container-fluid bg-color">
    <div class="menu">
        <div class="bg-icon1" [matMenuTriggerFor]="menu"><mat-icon [inline]=true>menu</mat-icon></div>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="goTo('home')">
                <mat-icon>home</mat-icon>
                <span>Inicio</span>
            </button>
            <button mat-menu-item (click)="goTo('add-book')">
                <mat-icon>library_add</mat-icon>
                <span>Agregar</span>
            </button>
            <button mat-menu-item (click)="goTo('refound-request')">
                <mat-icon>compare_arrows</mat-icon>
                <span>Devoluciones</span>
            </button>
            <button mat-menu-item (click)="goTo('sold-out')">
                <mat-icon>remove_shopping_cart</mat-icon>
                <span>Agotados</span>
            </button>
            <button mat-menu-item (click)="logOut()">
                <mat-icon>arrow_back_ios</mat-icon>
                <span>Salir</span>
            </button>
        </mat-menu>
    </div>
    <app-header></app-header>

    <div class="container py-5">
        <form class="row mt-2" #updateProfileForm= "ngForm" (ngSubmit)= "changeAdmin()" [formGroup]="changeAdminForm">
            <div class="col-lg-3 col-md-4 col-sm-6">
                <app-input-text class="mb-2"
                [headerText]="'Nombre'" 
                [inputType]="'text'" 
                [control]="changeAdminForm.get('name')"></app-input-text>

                <app-input-text class="mb-2"
                [headerText]="'Apellidos'" 
                [inputType]="'text'" 
                [control]="changeAdminForm.get('lastname')"></app-input-text>

                <app-input-date class="mb-2"
                [headerText]="'Fecha de nacimiento'" 
                [control]="changeAdminForm.get('birthdate')"
                [years] = "18"
                ></app-input-date>

            </div>

            <div class="col-lg-3 col-md-4 col-sm-6">
                
                <app-input-select class="mb-2"
                [headerText]="'DNI'"
                [control]="changeAdminForm.get('dni_type')"
                [options]="dniOptions"></app-input-select>

                <app-input-text class="mb-2"
                [headerText]="'Numero'" 
                [inputType]="'number'" 
                [control]="changeAdminForm.get('dni')"></app-input-text>

                <app-input-select class="mb-2"
                [headerText]="'Género'"
                [control]="changeAdminForm.get('gender')"
                [options]="genderOptions"></app-input-select>

                <app-input-text class="mb-2"
                [headerText]="'e-mail'" 
                [inputType]="'email'" 
                [control]="changeAdminForm.get('email')"></app-input-text>

            </div>
            
            <div class="col-lg-3 col-md-4 col-sm-6">

                <app-input-select class="mb-2"
                [headerText]="'país'"
                [control]="changeAdminForm.get('country')"
                [options]="countryOptions"></app-input-select>

                <app-input-select class="mb-2"
                [headerText]="'Estado/Dep'"
                [control]="changeAdminForm.get('state')"
                [options]="stateOptions"></app-input-select>

                <app-input-select class="mb-2"
                [headerText]="'ciudad'"
                [control]="changeAdminForm.get('city')"
                [options]="cityOptions"></app-input-select>

            </div>
            
            <div class="col-lg-3 col-md-4 col-sm-6">
                <app-input-text class="mb-2"
                [headerText]="'Contraseña actual'" 
                [inputType]="'password'" 
                [control]="changeAdminForm.get('oldPassword')"></app-input-text>

                <app-input-text class="mb-2"
                [headerText]="'Nueva contraseña'" 
                [inputType]="'password'" 
                [control]="changeAdminForm.get('password')"></app-input-text>

                <app-input-text class="mb-2"
                [headerText]="'Confirmar Contraseña'" 
                [inputType]="'password'" 
                [control]="changeAdminForm.get('confirmationPassword')"></app-input-text>
            </div>
            

            <div *ngIf="isFormError()" class="d-flex justify-content-center col-lg-12 col-md-12 col-sm-12 m-0 alert alert-danger" role="alert">
                <p *ngIf="changeAdminForm.errors.noMatchingPassword">Las contraseñas no coinciden.</p>
                <p *ngIf="changeAdminForm.errors.noSpecialNumberOrLetterCharacters">
                    La contraseña debe contener por lo menos: <br>
                    * Un caracter especial. <br>
                    * Una letra. <br>
                    * Un número. <br>
                </p>
            </div>
            
            <div class="d-flex flex-md-row justify-content-around col-lg-12 col-md-12 col-sm-12 m-0 disposition0">
                <button class="custom-large-btn" type="submit" [disabled]="changeAdminForm.invalid">Actualizar</button>
                <button class="btn-light custom-large-btn" type="button" (click)="goTo('main-admin')">Cancelar</button>
            </div>
        
        </form>
    </div>
</div>

