@import '~bootstrap/scss/bootstrap-grid';


@include media-breakpoint-only(xs){
    .disposition0{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        margin-bottom:5%;
    }
}