@import '~bootstrap/scss/bootstrap-grid';

$white: #FFF;
$gray-1:#F2F2F2;
$gray-2: #9E9E9E;
$gray-3:#363636;


.position{
    margin-right: -29px;
    z-index: 5;
}


.click{
    cursor: pointer;
}



@include media-breakpoint-only(xs){
    .disposition0{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        margin-bottom:5%;
    }
}

@include media-breakpoint-between(xs, sm) {


    .form-group-2{
        min-width: 90%;

      }
      
    .form-control-2{
        border: 0px solid transparent;
        height: 28px;
        border-radius: 30px;
        background-color: $gray-1;
        color: rgba($color: $gray-2, $alpha: 1);
        font-size: 16px;
        flex-grow: 5;
        letter-spacing: 0.04rem;
        text-overflow: ellipsis;
        padding-top: 0.2rem;
        padding-bottom: 0.2rem;
        padding-right: 0.6rem;
        padding-left: 2rem;
        width: 80%;
        align-self: center;
    }
    
    ::placeholder{
        letter-spacing: 0.04rem;
        color: rgba($color: $gray-2, $alpha: 1);
        text-align: left;
        font-size: 13px;
    }

    .mat-icon.mat-icon-inline{
        font-size: 20px;
        color: rgba($color: $gray-2, $alpha: 1);
        line-height: 3rem;
    }
    
    
}



@include media-breakpoint-between(md, xl) {
    .form-group-2{
        min-width: 90%;
      }
      
    .form-control-2{
        border: 0px solid transparent;
        height: 35px;
        border-radius: 30px;
        background-color: $gray-1;
        color: rgba($color: $gray-2, $alpha: 1);
        font-size: 16px;
        flex-grow: 5;
        letter-spacing: 0.04rem;
        text-overflow: ellipsis;
        padding: 0.2rem 2rem;
        width: 80%;
        align-self: center;
    }
    
    ::placeholder{
        letter-spacing: 0.04rem;
        color: rgba($color: $gray-2, $alpha: 1);
        text-align: left;
        font-size: 16px;
    }


    .mat-icon.mat-icon-inline{
        font-size: 23px;
        color: rgba($color: $gray-2, $alpha: 1);
        line-height: 3rem;
    }
    
}