<div class="container-fluid bg-color">
    <div class="menu">
        <div class="bg-icon1" (click)="logOut()">
            <mat-icon [inline]=true>arrow_back</mat-icon>
        </div>
    </div>
    <app-header></app-header>

    <div class="row">
        <div class="col-xs-10 col-sm-6 col-md-6 col-lg-4 mx-auto">
            <div class="card-body">
                <form class="mt-2" #logForm= "ngForm" (ngSubmit)= "createAdmin()" [formGroup]="manageForm">

                    <app-input-text 
                    [headerText]="'Nombre de usuario admin'" 
                    [inputType]="'text'" 
                    [control]="manageForm.get('username')"
                    ></app-input-text>

                    <app-input-text 
                    [headerText]="'Contraseña'" 
                    [inputType]="'password'" 
                    [control]="manageForm.get('password')"
                    ></app-input-text>

                    <app-input-text 
                    [headerText]="'Confirmación de contraseña'" 
                    [inputType]="'password'" 
                    [control]="manageForm.get('confirmationPassword')"
                    ></app-input-text>

                    <div *ngIf="isFormError()" class="alert alert-danger" role="alert">
                        <p *ngIf="manageForm.errors.noMatchingPassword">Las contraseñas no coinciden.</p>
                    </div>
                    
                    <div class="disposition1 mt-2">
                        <button class="custom-large-btn" type="submit" [disabled]="manageForm.invalid">Crear admin</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-xs-10 col-sm-6 col-md-6 col-lg-4 mt-4 mx-auto scroll">
            <div *ngFor='let admin of admins' class="border-card rounded m-2 p-2 d-flex justify-content-between">
                <div class="d-flex justify-content-center align-items-center">
                    <div class="bg-icon"><mat-icon [inline]=true>person</mat-icon></div>
                    <p class="pl-1 m-0">{{admin.username}}</p>
                </div>
                <div>
                    <mat-slide-toggle color="primary" [checked]="admin.enabled" (change)="updateStatus(admin)"></mat-slide-toggle>
                </div>
            </div>
        </div>
    </div>

</div>