<div class="container-fluid bg-color">
    <div class="menu">
        <div class="bg-icon1" (click)="logOut()">
            <mat-icon [inline]=true>arrow_back</mat-icon>
        </div>
    </div>
    <app-header></app-header>

    <div class="row">
        <div class="col-sm-7 col-md-7 col-lg-4 mx-auto">
            <div class="card-body">
                <form class="mt-2" #logForm= "ngForm" (ngSubmit)= "createAdmin()" [formGroup]="manageForm">

                    <app-input-text 
                    [headerText]="'Nombre de usuario admin'" 
                    [inputType]="'text'" 
                    [control]="manageForm.get('username')"
                    ></app-input-text>

                    <app-input-text 
                    [headerText]="'Contraseña'" 
                    [inputType]="'password'" 
                    [control]="manageForm.get('password')"
                    ></app-input-text>

                    <app-input-text 
                    [headerText]="'Confirmación de contraseña'" 
                    [inputType]="'password'" 
                    [control]="manageForm.get('confirmationPassword')"
                    ></app-input-text>

                    <div *ngIf="isFormError()" class="alert alert-danger" role="alert">
                        <p *ngIf="manageForm.errors.noMatchingPassword">Las contraseñas no coinciden.</p>
                    </div>
                    
                    <div class="disposition1 mt-2">
                        <button class="custom-large-btn" type="submit" [disabled]="manageForm.invalid">Crear admin</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>