/* You can add global styles to this file, and also import other style files */
$blue-200: #9696ff;
$gray-500: #818080;
$beige-600: #eff1c7;

$primary:       $blue-200;
$secondary:     $gray-500;

// @import '~bootstrap/scss/bootstrap-reboot';
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap/scss/bootstrap-grid';



@import '~@angular/material/theming';
@include mat-core();

$cosmos-blue: (
  50:#e7e6ff,
  100:#c2bfff,
  200: #9696ff,
  300:#696df4,
  400: #4d4ee3,
  500:#302bd1,
  600: #2b22c6,
  700:#2214b9,
  800: #1b00ac,
  900: #0a0082,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text
  )
);

$cosmos-gray: (
  50:#fdfbfb,
  100:#f8f7f7,
  200: #f3f2f2,
  300:#ebeaea,
  400: #c9c8c8,
  500:#abaaaa,
  600:#818080,
  700:#6c6b6b,
  800: #4d4c4c,
  900: #2b2a2a,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text
  )
);

$cosmos-app-primary: mat-palette($cosmos-blue, 200);
$cosmos-app-accent:  mat-palette($cosmos-gray, 600);


$cosmos-app-warn:mat-palette($mat-red);

$cosmos-app-theme: mat-light-theme((
  color: (
    primary: $cosmos-app-primary,
    accent: $cosmos-app-accent,
    warn: $cosmos-app-warn,  
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($cosmos-app-theme);




html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

$white: #FFF;
$black:#000;
$gray-1:#F2F2F2;
$gray-2: #818080;
$gray-3:#363636;
$gray-4:#C2C2C2;
$blue-1:#0a0082;
$blue-2:rgb(150, 150, 255);

.disposition-input {
    display: flex;
    flex-direction: column;
    align-items: space-evenly;
    justify-content: center;
}

.form-group1 {
    position: relative;
    margin-bottom: 1rem;
    justify-self: center;
    width: 100%;
  }
  
.form-control1{
    border: 2px solid $gray-2;
    height: 30px;
    background-color: transparent;
    color: rgba($color: $gray-2, $alpha: 1);
    font-size: 16px;
    flex-grow: 5;
    letter-spacing: 0.04rem;
    width: 100%;
    border-radius: 5px;
}

input:focus{
    outline-color: $black;
}

button:focus{
    outline-color: $blue-1;
    border-radius: 5px;
}

.custom-large-btn {
    font-size: 20px;
    background-color: $blue-2;
    color:$gray-3;
    border-radius: 10px;
    letter-spacing: 0.04rem;
    padding: 0.5rem;
    min-width: 150px;
    border: 0;
    margin-top: 5%;
    align-self: center;
    text-align: center;
    line-height: 1rem;
}

.backdrop-dialog {
    background-color: rgba($color: $gray-3, $alpha: 0.22);
 }

 .custom-dialog  .mat-dialog-container {
    background-color: $white;
    border-radius: 0;
    padding: 0;
    border: none;
    box-shadow: 7px 7px 11px #00000029;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    min-width: 250px;
    width: 400px;
    z-index: 1000;
}

.card-body{
    display: flex;
    flex-direction: column;
    align-items: space-evenly;
    justify-content: center;
}

.disposition1{
    display: flex;
    flex-direction: column;
    align-items: space-evenly;
    justify-content: center;
}

.forget-password{
    text-align: center;
    text-decoration: underline;
}

.bg-color{
    background-color: #F1B764;
    min-height: 100%;
    height: auto;
}

.icons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color:$gray-1;
    color:$gray-3;
}


.nopadding{
    padding: 0 !important;
    margin: 0 !important;
}

.mat-snack-bar-container{
    background-color: $gray-1;
}

.mat-icon-button{
    width: 0;
    height: 0;
}

.mat-checkbox .mat-checkbox-frame {
    border-radius: 5px;
    width: 20px;
    height: 20px;
    border:2px solid rgba($color: $gray-2, $alpha: 1);
    background-color: transparent;
}

.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background, .mat-checkbox-checked.mat-accent .mat-checkbox-background {
    width: 20px;
    height: 20px;
    border-radius: 5px;
    border:2px solid rgba($color: $gray-2, $alpha: 1);
    background-color: transparent;
}

.mat-checkbox-checkmark-path{
    stroke: $gray-2 !important;
    stroke-width: 3;
}

.mat-radio-outer-circle {
    border: 1px solid rgba($color:$gray-2, $alpha: 1); 
    background-color: transparent;
}


.mat-radio-button.mat-accent .mat-radio-inner-circle{
    background-color:$gray-2 !important;
    border: 1px solid rgba($color:$gray-2, $alpha: 1)!important;
}

.bg-icon1{
    border-radius: 5px;
    z-index: 100;
    cursor: pointer;
    width: 30px;
    height: 30px;
    background-color:#F1B764;
}

.bg-icon1 > .mat-icon.mat-icon-inline{
    font-size: 23px;
    text-align: center;
    line-height: 2rem;
    color: black;
}

@include media-breakpoint-between(xs, sm) {
    .menu{
        position: absolute;
        float: left;
        top: 7px;
        right: 10px;
        z-index: 100;
    }
}

@include media-breakpoint-between(md, xl) {
    .menu{
        position: absolute;
        float: left;
        top: 20px;
        right: 30px;
        z-index: 100;
    }
}

