.bg-icon{
    border-radius: 50%;
    margin-right: 3%;
    z-index: 100;
    cursor: pointer;
    width: 30px;
    height: 30px;
    background-color:rgb(150, 150, 255);;
}

.mat-icon.mat-icon-inline{
    font-size: 23px;
    text-align: center;
    line-height: 1.8rem;
}