<div class="container-fluid bg-color">
    <app-header></app-header>

    <div class="row px-5">
            <button class="custom-large-btn col-sm-6 col-md-3 col-lg-3" type="button" (click)="goTo('add-book')">Ingresar libro</button>
            <button class="custom-large-btn col-sm-6 col-md-3 col-lg-3" type="button" (click)="goTo('manage-book')">Administrar libro</button>
            <button class="custom-large-btn col-sm-6 col-md-3 col-lg-3" type="button" (click)="goTo('edit-book')">Editar libro</button>
            <button class="custom-large-btn col-sm-6 col-md-3 col-lg-3" type="button" (click)="goTo('deletebook')">Eliminar libro</button>
    </div>
    <div class="row px-5">
        <button class="custom-large-btn col-sm-6 col-md-4 col-lg-3" type="button" (click)="goTo('historical-sold-out')">Histórico agotados</button>
        <button class="custom-large-btn col-sm-6 col-md-4 col-lg-3" type="button" (click)="goTo('change-admin-password')">Cambiar contraseña</button>
    </div> 

</div>