<div class="container-fluid bg-color">
    <app-header></app-header>

    <div class="row px-5">
            <button class="custom-large-btn col-sm-6 col-md-3 col-lg-3" type="button" (click)="goTo('ingresarLibro')">Ingresar libro</button>
            <button class="custom-large-btn col-sm-6 col-md-3 col-lg-3" type="button" (click)="goTo('administrarLibro')">Administrar libro</button>
            <button class="custom-large-btn col-sm-6 col-md-3 col-lg-3" type="button" (click)="goTo('editarLibro')">Editar libro</button>
            <button class="custom-large-btn col-sm-6 col-md-3 col-lg-3" type="button" (click)="goTo('eliminarLibro')">Eliminar libro</button>
    </div>
    <div class="row px-5">
        <button class="custom-large-btn col-sm-6 col-md-4 col-lg-3" type="button" (click)="goTo('historicoAgotados')">Histórico agotados</button>
        <button class="custom-large-btn col-sm-6 col-md-4 col-lg-3" type="button" (click)="goTo('cambiarContraseña')">Cambiar contraseña</button>
    </div> 

</div>